<a href="https://colab.research.google.com/github/Yuvaragavan/EDA-Global_Terrorism_Analysis/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#loading the Global Terrorism Analysis CSV file data into the data frame
import pandas as pd #useful for data analysis, ML
file_path = '/content/drive/MyDrive/Colab Notebooks/AlmaBetter/2.Analytics Frameworks/2.1. Capstone Project - EDA/Global Terrorism Data.csv'
GTA_df = pd.read_csv(file_path,encoding="ISO-8859-1") # as utf-8 encoding seems to be failing, using this encoding="ISO-8859-1"

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
import numpy as np #useful for working with arrays.
import matplotlib.pyplot as plt #it is an API useful to do ploting
import seaborn as sns #helps to make statistical graphs in python
%matplotlib inline 
###uses the magic function to call the matplot interactively

In [12]:
GTA_df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [3]:
#sampling the data
print(GTA_df.head())

        eventid  iyear  imonth  iday approxdate  extended resolution  country  \
0  197000000001   1970       7     2        NaN         0        NaN       58
1  197000000002   1970       0     0        NaN         0        NaN      130
2  197001000001   1970       1     0        NaN         0        NaN      160
3  197001000002   1970       1     0        NaN         0        NaN       78
4  197001000003   1970       1     0        NaN         0        NaN      101

          country_txt  region  ... addnotes scite1 scite2  scite3  dbsource  \
0  Dominican Republic       2  ...      NaN    NaN    NaN     NaN      PGIS
1              Mexico       1  ...      NaN    NaN    NaN     NaN      PGIS
2         Philippines       5  ...      NaN    NaN    NaN     NaN      PGIS
3              Greece       8  ...      NaN    NaN    NaN     NaN      PGIS
4               Japan       4  ...      NaN    NaN    NaN     NaN      PGIS

   INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0        0         0        0       0      NaN
1        0         1        1       1      NaN
2       -9        -9        1       1      NaN
3       -9        -9        1       1      NaN
4       -9        -9        1       1      NaN

[5 rows x 135 columns]

In [20]:
  #sampling the data
print(GTA_df.tail())

             eventid  iyear  imonth  iday approxdate  extended resolution  country  country_txt  region                  region_txt        provstate           city   latitude   longitude  specificity  vicinity                                           location                                            summary  crit1  crit2  crit3  doubtterr  alternative             alternative_txt  multiple  success  suicide  attacktype1                 attacktype1_txt  attacktype2 attacktype2_txt  attacktype3 attacktype3_txt  targtype1                targtype1_txt  targsubtype1                               targsubtype1_txt                       corp1           target1  natlty1  natlty1_txt  targtype2 targtype2_txt  targsubtype2 targsubtype2_txt corp2 target2  natlty2 natlty2_txt  ...  weaptype2 weaptype2_txt  weapsubtype2 weapsubtype2_txt weaptype3 weaptype3_txt  weapsubtype3 weapsubtype3_txt weaptype4 weaptype4_txt weapsubtype4 weapsubtype4_txt                                         weapdetail  \
181686  201712310022   2017      12    31        NaN         0        NaN      182      Somalia      11          Sub-Saharan Africa  Middle Shebelle  Ceelka Geelow   2.359673   45.385034          2.0         0     The incident occurred near the town of Balcad.  12/31/2017: Assailants opened fire on a Somali...      1      1      0        1.0          1.0  Insurgency/Guerilla Action       0.0        1        0            2                   Armed Assault          NaN             NaN          NaN             NaN          4                     Military          36.0                            Military Checkpoint  Somali National Army (SNA)        Checkpoint    182.0      Somalia        NaN           NaN           NaN              NaN   NaN     NaN      NaN         NaN  ...        NaN           NaN           NaN              NaN       NaN           NaN           NaN              NaN       NaN           NaN          NaN              NaN                                                NaN
181687  201712310029   2017      12    31        NaN         0        NaN      200        Syria      10  Middle East & North Africa         Lattakia         Jableh  35.407278   35.942679          1.0         1     The incident occurred at the Humaymim Airport.  12/31/2017: Assailants launched mortars at the...      1      1      0        1.0          1.0  Insurgency/Guerilla Action       0.0        1        0            3               Bombing/Explosion          NaN             NaN          NaN             NaN          4                     Military          27.0  Military Barracks/Base/Headquarters/Checkpost           Russian Air Force  Hmeymim Air Base    167.0       Russia        NaN           NaN           NaN              NaN   NaN     NaN      NaN         NaN  ...        NaN           NaN           NaN              NaN       NaN           NaN           NaN              NaN       NaN           NaN          NaN              NaN                   Mortars were used in the attack.
181688  201712310030   2017      12    31        NaN         0        NaN      160  Philippines       5              Southeast Asia      Maguindanao       Kubentog   6.900742  124.437908          2.0         0  The incident occurred in the Datu Hoffer distr...  12/31/2017: Assailants set fire to houses in K...      1      1      1        0.0          NaN                         NaN       0.0        1        0            7  Facility/Infrastructure Attack          NaN             NaN          NaN             NaN         14  Private Citizens & Property          76.0                      House/Apartment/Residence              Not Applicable            Houses    160.0  Philippines        NaN           NaN           NaN              NaN   NaN     NaN      NaN         NaN  ...        NaN           NaN           NaN              NaN       NaN           NaN           NaN              NaN       NaN           NaN          NaN              NaN                                                NaN
181689  201712310031   2017      12    31        NaN         0        NaN       92        India       6                  South Asia          Manipur         Imphal  24.798346   93.940430          1.0         0  The incident occurred in the Mantripukhri neig...  12/31/2017: Assailants threw a grenade at a Fo...      1      1      1        0.0          NaN                         NaN       0.0        0        0            3               Bombing/Explosion          NaN             NaN          NaN             NaN          2         Government (General)          21.0            Government Building/Facility/Office   Forest Department Manipur            Office     92.0        India        NaN           NaN           NaN              NaN   NaN     NaN      NaN         NaN  ...        NaN           NaN           NaN              NaN       NaN           NaN           NaN              NaN       NaN           NaN          NaN              NaN           A thrown grenade was used in the attack.
181690  201712310032   2017      12    31        NaN         0        NaN      160  Philippines       5              Southeast Asia      Maguindanao  Cotabato City   7.209594  124.241966          1.0         0                                                NaN  12/31/2017: An explosive device was discovered...      1      1      1        0.0          NaN                         NaN       0.0        0        0            3               Bombing/Explosion          NaN             NaN          NaN             NaN         20                      Unknown           NaN                                            NaN                     Unknown           Unknown    160.0  Philippines        NaN           NaN           NaN              NaN   NaN     NaN      NaN         NaN  ...        NaN           NaN           NaN              NaN       NaN           NaN           NaN              NaN       NaN           NaN          NaN              NaN  An explosive device containing a detonating co...

       nkill nkillus  nkillter  nwound  nwoundus  nwoundte  property  propextent  propextent_txt  propvalue                                        propcomment  ishostkid  nhostkid nhostkidus  nhours  ndays divert  kidhijcountry  ransom ransomamt  ransomamtus ransompaid  ransompaidus ransomnote  hostkidoutcome hostkidoutcome_txt  nreleased addnotes                                             scite1                                             scite2                                             scite3                  dbsource  INT_LOG INT_IDEO INT_MISC  INT_ANY  related
181686   1.0     0.0       0.0     2.0       0.0       0.0        -9         NaN             NaN        NaN                                                NaN        0.0       NaN        NaN     NaN    NaN    NaN            NaN     NaN       NaN          NaN        NaN           NaN        NaN             NaN                NaN        NaN      NaN  "Somalia: Al-Shabaab Militants Attack Army Che...  "Highlights: Somalia Daily Media Highlights 2 ...  "Highlights: Somalia Daily Media Highlights 1 ...  START Primary Collection        0        0        0        0      NaN
181687   2.0     0.0       0.0     7.0       0.0       0.0         1         4.0         Unknown      -99.0  Seven military planes were damaged in this att...        0.0       NaN        NaN     NaN    NaN    NaN            NaN     NaN       NaN          NaN        NaN           NaN        NaN             NaN                NaN        NaN      NaN  "Putin's 'victory' in Syria has turned into a ...  "Two Russian soldiers killed at Hmeymim base i...  "Two Russian servicemen killed in Syria mortar...  START Primary Collection       -9       -9        1        1      NaN
181688   0.0     0.0       0.0     0.0       0.0       0.0         1         4.0         Unknown      -99.0                Houses were damaged in this attack.        0.0       NaN        NaN     NaN    NaN    NaN            NaN     NaN       NaN          NaN        NaN           NaN        NaN             NaN                NaN        NaN      NaN  "Maguindanao clashes trap tribe members," Phil...                                                NaN                                                NaN  START Primary Collection        0        0        0        0      NaN
181689   0.0     0.0       0.0     0.0       0.0       0.0        -9         NaN             NaN        NaN                                                NaN        0.0       NaN        NaN     NaN    NaN    NaN            NaN     NaN       NaN          NaN        NaN           NaN        NaN             NaN                NaN        NaN      NaN  "Trader escapes grenade attack in Imphal," Bus...                                                NaN                                                NaN  START Primary Collection       -9       -9        0       -9      NaN
181690   0.0     0.0       0.0     0.0       0.0       0.0         0         NaN             NaN        NaN                                                NaN        0.0       NaN        NaN     NaN    NaN    NaN            NaN     NaN       NaN          NaN        NaN           NaN        NaN             NaN                NaN        NaN      NaN  "Security tightened in Cotabato following IED ...  "Security tightened in Cotabato City," Manila ...                                                NaN  START Primary Collection       -9       -9        0       -9      NaN

[5 rows x 135 columns]

In [5]:
#understand the column names
print(GTA_df.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [6]:
#understand the data frame measures
print(GTA_df.describe())

            eventid          iyear         imonth           iday  \
count  1.816910e+05  181691.000000  181691.000000  181691.000000
mean   2.002705e+11    2002.638997       6.467277      15.505644
std    1.325957e+09      13.259430       3.388303       8.814045
min    1.970000e+11    1970.000000       0.000000       0.000000
25%    1.991021e+11    1991.000000       4.000000       8.000000
50%    2.009022e+11    2009.000000       6.000000      15.000000
75%    2.014081e+11    2014.000000       9.000000      23.000000
max    2.017123e+11    2017.000000      12.000000      31.000000

            extended        country         region       latitude  \
count  181691.000000  181691.000000  181691.000000  177135.000000
mean        0.045346     131.968501       7.160938      23.498343
std         0.208063     112.414535       2.933408      18.569242
min         0.000000       4.000000       1.000000     -53.154613
25%         0.000000      78.000000       5.000000      11.510046
50%         0.000000      98.000000       6.000000      31.467463
75%         0.000000     160.000000      10.000000      34.685087
max         1.000000    1004.000000      12.000000      74.633553

          longitude    specificity  ...     ransomamt   ransomamtus  \
count  1.771340e+05  181685.000000  ...  1.350000e+03  5.630000e+02
mean  -4.586957e+02       1.451452  ...  3.172530e+06  5.784865e+05
std    2.047790e+05       0.995430  ...  3.021157e+07  7.077924e+06
min   -8.618590e+07       1.000000  ... -9.900000e+01 -9.900000e+01
25%    4.545640e+00       1.000000  ...  0.000000e+00  0.000000e+00
50%    4.324651e+01       1.000000  ...  1.500000e+04  0.000000e+00
75%    6.871033e+01       1.000000  ...  4.000000e+05  0.000000e+00
max    1.793667e+02       5.000000  ...  1.000000e+09  1.320000e+08

         ransompaid  ransompaidus  hostkidoutcome     nreleased  \
count  7.740000e+02    552.000000    10991.000000  10400.000000
mean   7.179437e+05    240.378623        4.629242    -29.018269
std    1.014392e+07   2940.967293        2.035360     65.720119
min   -9.900000e+01    -99.000000        1.000000    -99.000000
25%   -9.900000e+01      0.000000        2.000000    -99.000000
50%    0.000000e+00      0.000000        4.000000      0.000000
75%    1.273412e+03      0.000000        7.000000      1.000000
max    2.750000e+08  48000.000000        7.000000   2769.000000

             INT_LOG       INT_IDEO       INT_MISC        INT_ANY
count  181691.000000  181691.000000  181691.000000  181691.000000
mean       -4.543731      -4.464398       0.090010      -3.945952
std         4.543547       4.637152       0.568457       4.691325
min        -9.000000      -9.000000      -9.000000      -9.000000
25%        -9.000000      -9.000000       0.000000      -9.000000
50%        -9.000000      -9.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

[8 rows x 77 columns]

In [7]:
#Row and column info about the data frame
print(GTA_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB
None

In [19]:
print(GTA_df.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'], dtype='object', length=135)

In [17]:
#set to display more values in pandas result.
pd.set_option('display.max_rows',150)
pd.set_option('display.max_columns',100)
pd.set_option('display.width',1000)

In [18]:
#checking the missing values
GTA_df.isnull().sum()

eventid                    0
iyear                      0
imonth                     0
iday                       0
approxdate            172452
extended                   0
resolution            179471
country                    0
country_txt                0
region                     0
region_txt                 0
provstate                421
city                     434
latitude                4556
longitude               4557
specificity                6
vicinity                   0
location              126196
summary                66129
crit1                      0
crit2                      0
crit3                      0
doubtterr                  1
alternative           152680
alternative_txt       152680
multiple                   1
success                    0
suicide                    0
attacktype1                0
attacktype1_txt            0
attacktype2           175377
attacktype2_txt       175377
attacktype3           181263
attacktype3_txt       181263
targtype1                  0
targtype1_txt              0
targsubtype1           10373
targsubtype1_txt       10373
corp1                  42550
target1                  636
natlty1                 1559
natlty1_txt             1559
targtype2             170547
targtype2_txt         170547
targsubtype2          171006
targsubtype2_txt      171006
corp2                 171574
target2               170671
natlty2               170863
natlty2_txt           170863
targtype3             180515
targtype3_txt         180515
targsubtype3          180594
targsubtype3_txt      180594
corp3                 180665
target3               180516
natlty3               180544
natlty3_txt           180544
gname                      0
gsubname              175801
gname2                179678
gsubname2             181531
gname3                181367
gsubname3             181671
motive                131130
guncertain1              380
guncertain2           179736
guncertain3           181371
individual                 0
nperps                 71115
nperpcap               69489
claimed                66120
claimmode             162608
claimmode_txt         162608
claim2                179801
claimmode2            181075
claimmode2_txt        181075
claim3                181373
claimmode3            181558
claimmode3_txt        181558
compclaim             176852
weaptype1                  0
weaptype1_txt              0
weapsubtype1           20768
weapsubtype1_txt       20768
weaptype2             168564
weaptype2_txt         168564
weapsubtype2          170149
weapsubtype2_txt      170149
weaptype3             179828
weaptype3_txt         179828
weapsubtype3          179998
weapsubtype3_txt      179998
weaptype4             181618
weaptype4_txt         181618
weapsubtype4          181621
weapsubtype4_txt      181621
weapdetail             67670
nkill                  10313
nkillus                64446
nkillter               66958
nwound                 16311
nwoundus               64702
nwoundte               69143
property                   0
propextent            117626
propextent_txt        117626
propvalue             142702
propcomment           123732
ishostkid                178
nhostkid              168119
nhostkidus            168174
nhours                177628
ndays                 173567
divert                181367
kidhijcountry         178386
ransom                104310
ransomamt             180341
ransomamtus           181128
ransompaid            180917
ransompaidus          181139
ransomnote            181177
hostkidoutcome        170700
hostkidoutcome_txt    170700
nreleased             171291
addnotes              153402
scite1                 66191
scite2                104758
scite3                138175
dbsource                   0
INT_LOG                    0
INT_IDEO                   0
INT_MISC                   0
INT_ANY                    0
related               156653
dtype: int64